:root {
  --border-radius: 0px;
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ff6633;
  --gray-color: #888888;
  --hover-color: #003366;
  --blue-color: #f1f6fc;
  --form-height: 54px;
  --letter-spacing: 0.5px;
  --line-height: 2;
  --letter-spacing-banner: 1.5px;
  --section-padding: 70px 15px 0px 15px;
}

body {
  font-family: 'catamaran', sans-serif !important;
}

h2 {
  font-family: 'Nunito Sans', sans-serif !important;
}

p,
ul {
  font-size: 16px;
}

h2,
h4,
h5,
p,
span,
ul {
  letter-spacing: var(--letter-spacing);
}

a {
  color: var(--hover-color);
}

h2 {
  font-size: 40px !important;
}

.center-line {
  background-color: var(--orange-color);
  height: 1px;
  margin: 0px auto 25px;
  width: 150px;
}

.featured-jobs {
  padding-bottom: 70px;
}

.featured-jobs h2 {
  padding: var(--section-padding);
}
