:root {
  --border-radius: 0px;
  --white-color: #fff;
  --black-color: #000;
  --orange-color: #ff6633;
  --gray-color: #888888;
  --hover-color: #003366;
  --blue-color: #f1f6fc;
  --form-height: 54px;
  --letter-spacing: 0.5px;
  --line-height: 2;
  --letter-spacing-banner: 1.5px;
  --section-padding: 70px 15px 0px 15px;
}

body {
  font-family: 'catamaran', sans-serif !important;
}

h2 {
  font-family: 'Nunito Sans', sans-serif !important;
}

p,
ul {
  font-size: 17px;
}

h2,
h4,
h5,
p,
span,
ul {
  letter-spacing: var(--letter-spacing);
}

/* ul {
  list-style: none;
} */

h2 {
  font-size: 40px !important;
}

/* Section padding */
.featured-jobs,
.how-it-works {
  padding-bottom: 70px;
}

/* Section h2 padding */
.featured-jobs h2,
.how-it-works h2 {
  padding: var(--section-padding);
}

/* Navbar section */
nav {
  background-color: transparent;
  border-radius: 3rem;
  color: var(--white-color) !important;
  width: 90%;
  position: relative;
  top: 10px;
}

a.nav-link {
  color: var(--white-color) !important;
}

/* Hero */
.defaultHero {
  background-image: linear-gradient(
      to right bottom,
      rgba(15, 52, 91, 0.85),
      rgba(15, 52, 81, 0.8)
    ),
    url('./img/hero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.job-search {
  height: 30vh;
}

/* Banner */
.banner h2 {
  margin-top: 150px;
  font-size: 48px !important;
  font-weight: 700;
}

.banner p {
  font-size: 21px;
  letter-spacing: var(--letter-spacing-banner);
}

.form-control {
  height: 54px !important;
}

/* Featured jobs */
.featured__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 60px;
  position: relative;
  top: 15px;
}

.featured__jobInfo {
  margin-left: 80px;
  margin-top: -60px;
}

.featured__jobInfo h3 {
  color: var(--orange-color);
  text-transform: capitalize;
}

.featured__jobInfo p {
  color: var(--gray-color);
}

.featured-jobs h5 {
  color: var(--orange-color);
}

.featured__applyBtn {
  margin-top: -100px;
}

.job-search form button {
  height: 10;
  width: 100%;
  padding: 9px 0;
  font-size: 30px;
  background-color: var(--orange-color) !important;
  height: 54px;
  border-radius: 8px;
  border: none !important;
}

.job-search form .row > div {
  padding: 0 5px;
}

.job-search span {
  position: absolute;
  top: 15px;
  right: 22px;
  color: var(--orange-color);
}

.job-search .search {
  position: absolute;
  top: 4px;
  right: 22px;
  color: var(--white-color);
}

.job-search button:hover {
  background-color: var(--black-color) !important;
}

/* Card */
.card {
  transition: all 0.2s;
  z-index: 10;
}
.card:hover {
  transform: scale(1.06);
  z-index: 20;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.24);
}
.card h5:hover {
  color: var(--hover-color) !important;
}

.card-footer {
  background-color: var(--white-color) !important;
}

.card-footer .btn-outline-danger {
  color: var(--black-color) !important;
  border: 1px solid var(--black-color) !important;
  font-size: 12px !important;
  border-radius: 25px;
}

.card-footer .btn-outline-danger:hover {
  border: 1px solid var(--orange-color) !important;
}

/* Single job page*/
.job-info h3 {
  color: var(--orange-color);
}

.job-info hr {
  border-bottom: 1px solid #e8ecec;
}

.job-info ul {
  padding-left: 15px;
}

.job-info p,
.job-info ul {
  color: var(--gray-color);
  line-height: var(--line-height);
}

.job-info .icons {
  line-height: var(--line-height);
  display: table;
}

.job-info .btn-danger,
.no-profile .btn-danger,
.application-form .btn-danger {
  background: var(--orange-color) !important;
  border-radius: 25px;
  border: 0 !important;
}

.login .btn-outline-danger,
.register .btn-outline-danger {
  color: var(--white-color) !important;
  background: var(--orange-color) !important;
  /* border-radius: 25px; */
  height: 54px;
  border: 0 !important;
}

.register .card:hover,
.login .card:hover {
  transform: none !important;
  background-color: none !important;
}

.company-details .btn-danger {
  width: 250px !important;
  font-size: 13px !important;
  border-radius: 40px !important;
  border: 0 !important;
}

/* Testimonials */
.testimonials .card:hover {
  transform: none;
}

.testimonials {
  padding: 70px 15px 120px 15px;
  background-color: var(--blue-color);
}

/* Footer */
.footer-banner {
  margin-bottom: -80px !important;
  padding: var(--section-padding);
  line-height: 2;
  letter-spacing: var(--letter-spacing);
}

.footer-banner ul {
  margin-left: -40px !important;
}

.center-line {
  background-color: var(--orange-color);
  height: 1px;
  margin: 0px auto 25px;
  width: 150px;
}

/* slider */
.slick-dots {
  bottom: -55px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: var(--orange-color) !important;
}
.slick-dots li button:before {
  font-size: 12px;
}

.featured .card {
  transform: none !important;
}

.featured h4 {
  font-size: 20px;
}

.card .orange-color {
  color: var(--orange-color);
}

.card .gray-color {
  color: var(--gray-color);
}

.featured__applyBtn .btn-outline-danger {
  background-color: var(--orange-color) !important;
  border: none !important;
  color: #fff !important;
  border-radius: 40px !important;
  float: right;
}

/* Featuredjoblist */
@media (max-width: 773px) {
  .featured__applyBtn {
    position: absolute;
    top: 250px;
    left: 100px;
  }
}

@media (max-width: 475px) {
  .featured__applyBtn {
    margin-top: -100px !important;
  }
}
